.book_inner {
}

.book_img-wrapper {
    width: 50%;
    margin: 0 auto;
}

.book_img-wrapper img{
    width: 100%;
    height: 100%;
}

.book_content-wrapper h3{
    margin: 12px 0;
    font-size: 24px;
}

.book_content-wrapper p{
    font-weight: 500;
    font-size: 20px;
}