{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/reviews.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/book.css' %}">
    <title>{% block title %}{% endblock %} | BOOK-STORE</title>
</head>
<body>
{% include 'store/includes/header.html' %}
<div class="content">
    {% block content %}
    {% endblock %}
    {% if page_obj.has_other_pages %}
        <div class="paginator">
            {% if page_obj.has_previous %}
                <div class="paginator_item">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </div>
            {% endif %}
            {% for item in page_obj.paginator.page_range %}
                {% if page_obj.number == item %}
                    <div class="paginator_item">
                        <a style="color: white; background-color: black" href="?page={{ item }}">{{ item }}</a>
                    </div>
                {% elif item >= page_obj.number|add:-2 and item <= page_obj.number|add:2 %}
                    <div class="paginator_item">
                        <a href="?page={{ item }}">{{ item }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <div class="paginator_item">
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% include 'store/includes/footer.html' %}
</body>
</html>