{% extends 'store/base_templates/base.html' %}
{% load static %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
    <div class="container">
        <section class="d-flex">
            <div class="w-50">
                <img src="{% static 'store/images/book.svg' %}" alt="">
            </div>
            <div class="w-50">
                <h2 class="text-center my-2">{{ book.title }}</h2>
                <hr>
                <h3 class="mb-0">Жанр(ы):</h3>
                {% for genre in book.genres.all %}
                    <p class="fs-4 my-1 fst-italic">{{ genre }}</p>
                {% endfor %}
                <h3 class="mb-0">Автор(ы):</h3>
                {% for author in book.authors.all %}
                    <p class="fs-4 my-1 fst-italic">{{ author }}</p>
                {% endfor %}
                <h3 class="mb-0">Цена:</h3>
                <p class="fs-4 my-1 fst-italic">{{ book.price }} ₴</p>
                <h3 class="mb-0">Описание:</h3>
                <p class="fs-5 fst-italic">{{ book.description }}</p>
            </div>
        </section>
    </div>

{% endblock %}