{% extends 'store/base_templates/base.html' %}
{% load static %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
    <div class="container">
        <h2>{{ book.title }}</h2>
        <hr>
        <div class="book_inner">
            <div class="book_img-wrapper">
                <img src="{% static 'store/images/book_icon.svg' %}" alt="">
            </div>
            <hr>
            <div class="book_content-wrapper">
                <h3>Жанр(ы): {% for genre in book.genres.all %}<p>{{ genre }}</p>{% endfor %}</h3>
                <h3>Автор(ы): {% for author in book.authors.all %}<p>{{ author }}</p>{% endfor %}</h3>
                <h3>Описание: {% if book.description != None %}<p>{{ book.description }}</p>{% endif %}</h3>
                <h3>Цена: {{ book.price }} ₴</h3>
            </div>
        </div>
    </div>
{% endblock %}