{% extends 'store/base_templates/base.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center my-3">Каталог</h2>
        <hr>
        <div class="catalog_inner">
            <section class="d-flex flex-wrap justify-content-center">
                {% for book in books %}
                    {% include 'store/includes/card.html' %}
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}