{% extends 'store/base_templates/base.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <h2>Каталог</h2>
        <hr>
        <div class="catalog_inner">
            <div class="catalog_sidebar">
                <h3>Жанры</h3>
                <hr>
                <div class="genres">
                    {% for genre in genres %}
                        {% if genre.slug in request.path %}
                            <a style="color: white; background-color: black"
                               href="{{ genre.get_absolute_url }}">{{ genre.title }}</a>
                        {% else %}
                            <a href="{{ genre.get_absolute_url }}">{{ genre.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <h3>Авторы</h3>
                <hr>
                <div class="authors">
                    {% for author in authors %}
                        {% if author.slug in request.path %}
                            <a style="color: white; background-color: black"
                               href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
                        {% else %}
                            <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
            <div class="catalog_content">
                {% for book in books %}
                    <div class="catalog_item">
                        <div class="item_img-wrapper">
                            <img src="{% static 'store/images/book_icon.svg' %}" alt="">
                        </div>
                        <div class="item_content-wrapper">
                            <h2>{{ book.title|truncatewords:2 }}</h2>
                            <hr>
                            {% if book.description == None %}
                                <p>Описание отсутствует</p>
                            {% else %}
                                <p>{{ book.description|truncatewords:30 }}</p>
                            {% endif %}
                            <p><b>Цена:</b> {{ book.price }} ₴</p>
                            <a href="{{ book.get_absolute_url }}">Подробнее...</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}