{% extends 'store/base_templates/base.html' %}
{% load static %}
{% block title %}Кабинет{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center my-3">Личный кабинет</h2>
        <hr>
        <section class="w-50 mx-auto border border-dark d-flex">
            <div class="w-25">
                <img src="{% static 'store/images/user.svg' %}" alt="">
            </div>
            <div class="w-75">
                <h3 class="text-center my-2">{{ user.first_name }} "{{ user.username }}" {{ user.last_name }}</h3>
                <h4>
                    Дата регистрации: <span class="fw-normal fst-italic">{{ user.date_joined|date:'d b. Y' }}</span>
                </h4>
                <h4>Email: <span class="fw-normal fst-italic">{{ user.email }}</span></h4>
                <a href="{% url 'create_review' %}">Оставить отзыв</a><br>
                <a href="{% url 'create_order' %}">Приобрести книгу</a>
            </div>
        </section>
        <hr>
        <h2 class="text-center my-3">История покупок</h2>
        <hr>
        <section class="w-75 mx-auto">
            <table class="table table-striped w-100 ">
                <thead>
                <tr>
                    <th class="col">Книга</th>
                    <th class="col">Цена</th>
                    <th class="col">Дата покупки</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <th class="w-50"><a href="{{ order.book.get_absolute_url }}">{{ order.book }}</a></th>
                        <th class="w-25">{{ order.book.price }} ₴</th>
                        <th class="w-25">{{ order.purchase_date }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}