{% extends 'store/base.html' %}
{% load static %}
{% block title %}Отзывы{% endblock %}
{% block content %}
    <div class="container">
        <div class="reviews_inner">
            <h2>Отзывы</h2>
            <hr>
            {% for review in reviews %}
                <div class="reviews_item">
                    <div class="review_img-wrapper">
                        <img src="{% static 'store/images/user_icon.svg' %}" alt="user_icon">
                    </div>
                    <div class="review_content-wrapper">
                        <h3>{{ review.user }}</h3>
                        <h6>{{ review.writing_date|date:'d F Y H:i'|lower }}</h6>
                        <p>{{ review.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}