{% load static %}
<div class="card w-25 mx-3 my-3" style="width: 18rem;">
    <img src="{% static 'store/images/book.svg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-center">{{ book.title|truncatewords:2 }}</h5>
        {% if book.description == None %}
            <p class="card-text">Описание отсутствует</p>
        {% else %}
            <p class="card-text">{{ book.description|truncatewords:4 }}</p>
        {% endif %}
        <a href="{{ book.get_absolute_url }}" class="btn btn-primary d-block">Подробнее...</a>
    </div>
</div>