{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer_inner">
            <a href="{% url 'home' %}" class="logo">BOOK-STORE</a>
            <ul>
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <img width="35px" height="35px" src="{% static 'store/images/social/facebook.svg' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com" target="_blank">
                        <img width="35px" height="35px" src="{% static 'store/images/social/twitter.svg' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank">
                        <img width="35px" height="35px" src="{% static 'store/images/social/instagram.svg' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com" target="_blank">
                        <img width="35px" height="35px" src="{% static 'store/images/social/youtube.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>