<header class="header">
    <div class="container">
        <div class="header_inner">
            <a href="{% url 'home' %}" class="logo">BOOK-STORE</a>
            <ul class="menu">
                <li class="menu_item">
                    <a href="{% url 'reviews' %}" class="menu_item-link">Отзывы</a>
                </li>
                <li class="menu_item">
                    <a href="{% url 'catalog' %}" class="menu_item-link">Каталог</a>
                </li>
            </ul>
            <a href="" class="login">Войти</a>
        </div>
    </div>
</header>