{% extends 'store/base_templates/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <div class="container">
        <h2>Регистрация</h2>
        <hr>
        <div class="registration_inner">
            <form method="post">
                {% csrf_token %}
                {% for item in form %}
                    {% if item.errors %}
                        <div class="errors">
                            {{ item.errors }}
                        </div>
                    {% endif %}
                    <label for="{{ item.id_for_label }}">{{ item.label }}</label>
                    {{ item }}
                {% endfor %}
                <button type="submit">Зарегистрироваться</button>
            </form>
        <p style="text-align:center; margin: 10px 0;">Уже есть аккаунт?
                <a style="color: blue; text-decoration:underline;" href="{% url 'login' %}">
                    Авторизуйтесь!
                </a>
            </p>
        </div>
    </div>
{% endblock %}